
package comps
import "ago/helper"

templ TileComponent(tile Tile) {
    <span hx-get={"/lift/" + helper.Itoa(tile.Id)} hx-swap="innerHtml" class={ "tile", "hght", GetHgtClass(tile.Altitude) }> {helper.Itoa(tile.Altitude)} </span>
}