package comps

import h "ago/helper"

templ TileMapComponent(tileMap TileMap) {
	<div _="init add .loaded to me end" id="tileMap">
		for _, tile := range tileMap.Tiles {
			for _, tile := range tile {
				@TileComponent(tile)
			}
		}
	</div>
}

func GetHgtClass(hgt int) string {
	return "hght-" + h.Itoa(hgt)
}
