/* this is just a file to check css styling as you can't do a proper job in templ */
.hght-0 {
    background-color: #000040; /* Deep ocean blue */
}
.hght-1 {
    background-color: #000080; /* Deep ocean blue */
}
.hght-2 {
    background-color: #0000CD; /* Darker blue */
}
.hght-3 {
    background-color: #1E90FF; /* Ocean blue */
}
.hght-4 {
    background-color: #2dc7ff; /* Ocean blue */
}
.hght-5 {
    background-color: #02a50d; /* Grassland green */
}
.hght-6 {
    background-color: #1d6200; /* Lighter green, representing plains or low hills */
}
.hght-7 {
    background-color: #6b4429; /* Dark brown, representing mountains */
}
.hght-8 {
    background-color: #838383; /* Light grey for lower mountains */
}
.hght-9 {
    background-color: #eee; /* Snow white, highest peaks */
}

.hght-9 {
    background-color: #dc7200; /* Snow white, highest peaks */
}

@media (orientation: landscape) {
    body {    
    background-color: red;
    cursor: crosshair;
}
}