@import './styles/variables.scss';
@import './styles/main-display.scss';
@import './styles/action.scss';
@import './styles/header.scss';
@import './styles/view-options.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  text-align: center;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "config config"
    "display display"
    "view-options map-actions";

  overflow: hidden;
  align-content: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;

  padding: $golden-triple;

  font-family: 'VT323',
    monospace;
  font-size: 20px;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  @include respond-up(md) {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "config display"
      "view-options map-actions";
  }

  &.loaded {
    opacity: 1;
  }
}

.map-loader {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #2dc7ff;
}

.height-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 0.6em;
}

.options-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.3em;
}

.mode.active {
  filter: drop-shadow(0 2px 5px #666);
  transition: transform 0.1s ease-in;
  transform: scaleY(1.1);
}

.mode {
  width: 100%;
  height: 2em;
  text-align: center;
  color: #aaa;
}

#magnitude-selector {
  display: grid;
  grid-auto-flow: column;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.3em;
}

#magnitude-selector :nth-child(1) {
  border-radius: 0.3em 0 0 0.3em;
}

#magnitude-selector :last-child {
  border-radius: 0 0.3em 0.3em 0;
}

.magnitude-option {
  display: block;
  height: 1em;
  width: 1em;
  color: transparent;
  user-select: none;
}

.mag-selected {
  transform: scale(1.5);
  border: 1px solid rgb(255, 23, 255);
  border-radius: 0.3em !important;
  z-index: 1;
  transition-duration: 0.1s ease-in;
}

.magnitude-option:hover {
  filter: brightness(1.2);
  border: 1px solid #ff17ff;
}

.break {
  border-right: 1px solid #eee;
  height: 95%;
}

.col {
  color: #1919c39c;
}

.extras {
  grid-area: open;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.3em;
  z-index: 1;
}