* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'VT323', monospace;
  font-size: 20px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  opacity: 0;
}

body.loaded {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

#main {
  display: flex;
  height: 100%;
  /* align-content: center; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content minmax(200px, 60%) max-content;
  grid-template-areas:
      "header"
      "map"
      "options";
  align-content: center;
  justify-items: center;
  width: 100%;
  max-height: 100%;
  padding: 1em;
  height: 100%;
}

#header {
  position: relative;
  grid-area: header;
  bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .6em;
  background-color: #fff;
  border-radius: .1em;
  border: 2px dotted #ccc;
  max-width: 20%;
  min-width: fit-content;
  z-index: 1;
  gap: .3em;
}

#header.loaded {
  bottom: -3px;
  transition: bottom 0.5s ease-in-out;
  transition-delay: 0.2s;
}

#header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: .3em;
}

#header-actions > .button {
 flex-wrap: nowrap;
}

.button {
  border-radius: .1em;
  padding: 10px;
  border: 2px dotted #ccc;
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.button:hover {
  cursor: pointer;
  background-color: #eee;
}

#tile-map {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  height: 100%;
  border-radius: 4px;
  border: 2px dotted #ccc;
  z-index: 1;
}

#tile-map.active {
  filter: drop-shadow(0 0 5px #666);
  cursor: crosshair;
}

.tile {
  display: block;
  user-select: none;
  color: transparent;
  min-width: 0px;
  min-height: 0px;
  border: 1px solid transparent;
}

.tile:hover {
  filter: brightness(1.3);
  border: 1px solid #ccc;
}

#tile-map.active > .tile:hover {
  border: 1px solid rgb(255, 23, 255);
}

.tile.htmx-request{
  background-color: rgb(255, 23, 255);
}

#mapWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-area: map;
  opacity: 0;
  aspect-ratio: 1 / 1;
  z-index: 1;
  height: 100%;
}

#mapWrapper.loaded {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

#sidebarBlock {
  width: 20%;
  height: 100%;
  overflow: hidden;
}

#options {
  grid-area: options;
  position: relative;
  top: -200;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

#options.loaded {
  opacity: 1;
  top: -3px;
  transition: top 0.5s ease-out;
  transition-delay: 0.5s;
}

#options-group {
  border: 2px dotted #ccc;
  padding: 0.6em;
  border-radius: 0.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: all;
  gap: 0.3em;
  background-color: #fff;
}

#mode-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.3em;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#lifting {
  border-radius: 4px 4px 0 0;
  color: #02a50d;
}

#lifting.active {
  background-color: #02a50d;
  border: 1px solid #1d6200;
  color: #fff;
  transform-origin: bottom;
}

#lowering {
  color: #2dc7ff;
  border-radius: 0 0 4px 4px;
}

#lowering.active {
  background-color: #2dc7ff;
  border: 1px solid #1E90FF;
  color: #fff;
  transform-origin: top;
}

#height-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.mode.active {
  filter: drop-shadow(0 2px 5px #666);
  transition: transform 0.1s ease-in;
  transform: scaleY(1.1);
}

.mode {
  width: 100%;
  height: 2em;
  text-align: center;
  color: #aaa;
}

#magnitude-selector {
  display: grid;
  grid-auto-flow: column;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.3em;
}

#magnitude-selector :nth-child(1) {
  border-radius: 0.3em 0 0 0.3em;
}

#magnitude-selector :last-child {
  border-radius: 0 0.3em 0.3em 0;
}

.magnitude-option {
  display: block;
  height: 1em;
  width: 1em;
  color: transparent;
  user-select: none;
}

.mag-selected {
  transform: scale(1.5);
  border: 1px solid rgb(255, 23, 255);
  border-radius: 0.3em !important;
  z-index: 1;
  transition-duration: 0.1s ease-in;
}

.mag-selected.active {
  filter: drop-shadow(0 2px 5px #666);
  transition: transform 0.1s ease-in;
  transform: scale(2)
}

.magnitude-option:hover {
  filter: brightness(1.2);
  border: 1px solid rgb(255, 23, 255);
}

.break {
  border-right: 1px solid #eee;
  height: 95%;
}

.hght-0 {
  background-color: #000040; /* Deep ocean blue */
}
.hght-1 {
  background-color: #000080; /* Deep ocean blue */
}
.hght-2 {
  background-color: #0000CD; /* Darker blue */
}
.hght-3 {
  background-color: #1E90FF; /* Ocean blue */
}
.hght-4 {
  background-color: #2dc7ff; /* Ocean blue */
}
.hght-5 {
  background-color: #02a50d; /* Grassland green */
}
.hght-6 {
  background-color: #1d6200; /* Lighter green, representing plains or low hills */
}
.hght-7 {
  background-color: #6b4429; /* Dark brown, representing mountains */
}
.hght-8 {
  background-color: #838383; /* Light grey for lower mountains */
}
.hght-9 {
  background-color: #EEE; /* Snow white, highest peaks */
}
.hght-10 {
  background-color: #fff; /* Black, representing water */
}